<!DOCTYPE html>
<html>
<head>
<title>SkillForge Academy</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
<h1>SkillForge Academy</h1>
<a href="/login">Login</a>
</header>

<section class="hero">
<h2>Master Industry Skills</h2>
<p>Learn Networking, AWS Cloud, Linux and Cyber Security</p>
</section>

<section class="courses">
<div class="card">
<h3>Networking</h3>
<p>CCNA, Routing, Switching</p>
</div>

<div class="card">
<h3>AWS Cloud</h3>
<p>EC2, S3, IAM, Cloud Security</p>
</div>

<div class="card">
<h3>Linux</h3>
<p>Administration and Automation</p>
</div>

<div class="card">
<h3>Cyber Security</h3>
<p>SOC, SIEM, Threat Detection</p>
</div>
</section>

</body>
</html>
